.mentors-page {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  padding: 20px;
  background-color: white;
}

.container-card {
  flex: 1;
  height: 450px;
  max-width: 30%;
  border: 2px solid #908f8f;
  border-radius: 8px; 
  background-color: #fff;
}

.mentors-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

