.main{
  padding: 20px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 2px solid #413f3f; 
}

.title{
  color: #030080;
  padding-top: 5px;
}

.left{
  display: flex;
  gap: 2px;
}

.btn1{
  margin-bottom: 20px;
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: white;
  border-radius: 20px;
  border: transparent;
}

.right{
 display: flex;
 background-color: white;
 padding-top: 8px;
 padding-left: 15px;
 padding-right: 18px;
 border-radius: 20px;
 gap: 10px;
 margin-bottom: 15px;
}

.p_txt{
  font-size: 20px;
  color: #030080;
}

.req_txt{
  color: #030080;
}

.mentor-card {
  
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: background-color 0.3s, border-color 0.3s;
  position: relative;
}

.mentor-card:hover {
  background-color: #f0f0f0;
  border-color: #030080;
}

.mentor-card.expanded {
  border-color: #030080;
  background-color: #e7f3ff;
  margin-bottom: 10px;
}

.m_name{

  font-size: 17px;
  margin-bottom: 5px;
}

.m_role{
  font-size: 12px;
  color: #030080;
}

.quater{
  font-size: 17px;
  color: #030080;
  margin-bottom: 15px;
}

.withdraw-section {
  margin-top: 10px;
  border-top: 1px solid #a6a3a3;
  text-align: center;
}

.withdraw-btn {
  background: transparent;
  color: #fe0101;
  border: none;
  border-radius: 20px;
  padding: 10px 10px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.pending-approval {
  color: #ff0000;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 8px;
}
