.nav {
  background: white;
  padding: 0px 20px;
  border-bottom: 2px solid #dadada;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

ul {
  margin-top: 20px;
  display: flex;
  gap: 30px;
  list-style: none;
}

li {
  font-size: 14px;
}

li a {
  text-decoration: none;
  color: #515151;
  padding-bottom: 5px; 
  border-bottom: 2px solid transparent; 
}

li a:hover {
  color: #030080;
}

.active-link {
  color: #030080;  
  font-weight: bold;
  border-bottom: 2px solid #030080; 
}

.btns {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  align-items: center;
  margin-bottom: 10px;
}

.year {
  background: #f2f2f2;
  width: 114px;
  height: 32px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid rgb(200, 200, 200);
  text-align: center;
}

.year:hover {
  background: #949494;
}

.q1 {
  background: #f2f2f2;
  width: 114px;
  height: 32px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid rgb(200, 200, 200);
  text-align: center;
}

.q1:hover {
  background: #949494;
}

.r_mentors {
  background: #030080;
  width: 169px;
  height: 32px; 
  color: white;
  align-items: center;
  font-size: 12px;
  border-radius: 22px;
  text-align: center;
}


